<section class="padding-medium">
	
	<header class="row">
		<div class="medium-11 medium-centered large-10 columns text-center">
			<h3>Related Work</h3>
		</div>
	</header>
	
	<div class="row work-feed padding-small" data-equalizer>
		<article class="medium-6 large-6 columns one-way reveal" data-equalizer-watch data-0="@show-section:false" data-bottom-center="@show-section:true">
			<a href="#">
				<div class="work-image">
					<img data-interchange="[https://snap-photos.s3.amazonaws.com/img-thumbs/960w/RMATTE7HXJ.jpg, (default)], [https://snap-photos.s3.amazonaws.com/img-thumbs/960w/RMATTE7HXJ.jpg, (large)]" />
					<div class="work-details-overlay">
						<div class="work-details">
							<p>Integer posuere erat a ante venenatis dapibus posuere velit aliquet. Lorem ipsum dolor sit amet, consectetur adipiscing elit.</p>
							<span class="text-link mint">View Project</span>
						</div>
					</div>
				</div>
				<h5 class="work-client-name">Papé</h5>
				<h6 class="work-category">Website + Application, Optimization, Digital Advertising</h6>
			</a>
		</article>
		<article class="medium-6 large-6 columns one-way reveal" data-equalizer-watch data-0="@show-section:false" data-bottom-center="@show-section:true">
			<a href="#">
				<div class="work-image">
					<img data-interchange="[https://snap-photos.s3.amazonaws.com/img-thumbs/960w/TAM2OYHWFJ.jpg, (default)], [https://snap-photos.s3.amazonaws.com/img-thumbs/960w/TAM2OYHWFJ.jpg, (large)]" />
					<div class="work-details-overlay">
						<div class="work-details">
							<p>Cras justo odio, dapibus ac facilisis in, egestas eget quam. Morbi leo risus, porta ac consectetur ac, vestibulum at eros. Donec ullamcorper nulla non metus auctor fringilla.</p>
							<span class="text-link mint">View Case Study</span>
						</div>
					</div>
				</div>
				<h5 class="work-client-name">Northwest Jeep</h5>
				<h6 class="work-category">Website, Ecommerce, Branding</h6>
			</a>
		</article>
		<article class="medium-6 large-6 columns one-way reveal" data-equalizer-watch data-0="@show-section:false" data-bottom-center="@show-section:true">
			<a href="#">
				<div class="work-image">
					<img data-interchange="[https://snap-photos.s3.amazonaws.com/img-thumbs/960w/RMATTE7HXJ.jpg, (default)], [https://snap-photos.s3.amazonaws.com/img-thumbs/960w/RMATTE7HXJ.jpg, (large)]" />
					<div class="work-details-overlay">
						<div class="work-details">
							<p>Integer posuere erat a ante venenatis dapibus posuere velit aliquet. Lorem ipsum dolor sit amet, consectetur adipiscing elit.</p>
							<span class="text-link mint">View Project</span>
						</div>
					</div>
				</div>
				<h5 class="work-client-name">Papé</h5>
				<h6 class="work-category">Website + Application, Optimization, Digital Advertising</h6>
			</a>
		</article>
		<article class="medium-6 large-6 columns one-way reveal" data-equalizer-watch data-0="@show-section:false" data-bottom-center="@show-section:true">
			<a href="#">
				<div class="work-image">
					<img data-interchange="[https://snap-photos.s3.amazonaws.com/img-thumbs/960w/TAM2OYHWFJ.jpg, (default)], [https://snap-photos.s3.amazonaws.com/img-thumbs/960w/TAM2OYHWFJ.jpg, (large)]" />
					<div class="work-details-overlay">
						<div class="work-details">
							<p>Cras justo odio, dapibus ac facilisis in, egestas eget quam. Morbi leo risus, porta ac consectetur ac, vestibulum at eros. Donec ullamcorper nulla non metus auctor fringilla.</p>
							<span class="text-link mint">View Case Study</span>
						</div>
					</div>
				</div>
				<h5 class="work-client-name">Northwest Jeep</h5>
				<h6 class="work-category">Website, Ecommerce, Branding</h6>
			</a>
		</article>
	</div>

</section>