{exp:channel:entries channel="services" require_entry="yes"}

{if no_results}
	{redirect="404"}
{/if}

<section class="hero hero--page hero--subpage-series">
	{services_hero_image}<div class="hero--image" data-interchange="[{image:url:small}, (default)], [{image:url:medium}, (medium)], [{image:url:large}, (large)]"></div>{/services_hero_image}
	<div class="row full">
		<div class="small-12 medium-8 medium-centered large-7 columns text-center" data-start="opacity: 1; transform: translateY(0px);" data-top-top="opacity: 0; transform: translateY(80px);">
			<h1>{title}</h1>
			<p class="intro">{services_title_subheading}</p>
		</div>
	</div>
	{/exp:channel:entries}

	{!--Must escape main entries init. Order by date --}
	<div class="hide-for-small subpage-nav-arrows">
		{exp:channel:next_entry channel="services"}
		<a href="/services/{url_title}" class="subpage-nav--next"><span>{title}</span></a>
		{/exp:channel:next_entry}

		{exp:channel:prev_entry channel="services"}
		<a href="/services/{url_title}" class="subpage-nav--prev"><span>{title}</span></a>
		{/exp:channel:prev_entry}
	</div>
</section>

{embed="services/.subpage-nav"}



{exp:channel:entries channel="services" require_entry="yes"}

<!-- Intro -->
<section class="padding-medium">
	<div class="row full">
		<div class="medium-12 large-offset-1 large-6 columns">
			<div class="show-for-large-up spacer-small"></div>
			<h2 class="serif text-center large-text-left">{services_introduction_title}</h2>
			<div class="spacer-small"></div>
			<div class="medium-2-cols serif intro">
				{services_introduction}
			</div>
		</div>
		<div class="show-for-large-up large-5 columns full-collapse-right">
			{services_main_image}<img src="{image:url:large}" alt="" />{/services_main_image}
		</div>
	</div>
</section>


<!-- Subservices -->
<section class="padding-bottom-medium">
	<div class="row subservice-items content" data-equalizer>
		{services_subservices}
		<div class="small-6 medium-4 columns" data-equalizer-watch>		
			<article  data-bottom-top="opacity: 0;" data-center-top="opacity: 1;">
				<img src="{subservice_image}" alt="" />
				<h4>{subservice_title}</h4>
				<p>{subservice_description}</p>
			</article>
		</div>
		{/services_subservices}
	</div>
</section>


<!-- Process -->
<section class="padding-large onyx-bg one-way reveal" data-0="@show-section:false" data-bottom-center="@show-section:true">
	<div class="row">
		<div class="medium-12 columns text-center">
			<h3 class="white-color">{services_our_process}</h3>
			<p class="serif lead white-color">Coming Soon</p>
		</div>
	</div>
	<div class="">
		<img src="http://placehold.it/1650x450" alt="" />
	</div>
</section>


<!-- Platforms & Tech -->
<section class="padding-large one-way reveal" data-0="@show-section:false" data-bottom-center="@show-section:true">
	<div class="row">
		<div class="medium-11 medium-centered large-10 columns text-center">
			<h3>{services_tech_heading}</h3>
			<p class="serif lead">{services_tech_subheading}</p>
			<div class="medium-2-cols text-left serif intro">
				{services_tech_description}
			</div>
		</div>
	</div>
	<div class="padding-small">
		<ul class="small-block-grid-1 medium-block-grid-2 large-block-grid-3 xlarge-block-grid-4 services-tech-grid" data-equalizer>
			{services_tech_major}
			<li>
				<article class="content" data-equalizer-watch>
					<img src="{specialization_logo}" alt="" class="tech-grid--icon"/>
					<h5 class="tech-grid--name">{specialization_title}</h5>
					<p class="tech-grid--description">{specialization_description}</p>
				</article>
			</li>
			{/services_tech_major}
		</ul>
	</div>
	<div class="row">
		<div class="medium-12 columns">
			<div class="services-tech-grid-minor">
				{services_tech_minor}<img src="{image:url:grid-image}" alt="" />{/services_tech_minor}
			</div>
		</div>
	</div>
</section>


<!-- Awards -->
{if services_awards_heading && services_awards_list}
<hr>
<section class="padding-large one-way reveal" data-0="@show-section:false" data-bottom-center="@show-section:true">
	<div class="row">
		<div class="medium-11 medium-centered large-10 columns text-center">
			<h3>{services_awards_heading}</h3>
			<p class="serif lead">{services_awards_subheading}</p>
		</div>
	</div>
	<div class="padding-top-small">
		<div class="text-center">
			{services_awards_list}
				<article class="awards-item">
					{awards_logo}<img src="{image:url:small}" />{/awards_logo}
					<h4>{title}</h5>
					<h5>{awards_category}</h6>
					<h6>{awards_project}</h7>
				</article>
			{/services_awards_list}
		</div>
	</div>
</section>
{/if}


{if services_team_list}
<!-- Team -->
<section class="padding-large gray-bg one-way reveal" data-0="@show-section:false" data-bottom-center="@show-section:true">
	<div class="row">
		<div class="medium-11 medium-centered large-10 columns text-center">
			<h3>Team</h3>
		</div>
	</div>
	<div class="row full padding-top-small">
		<div class="medium-12 columns">
			<ul class="team-grid small-block-grid-2 medium-block-grid-4 large-block-grid-5 xlarge-block-grid-6">
				{services_team_list}
				<li>
					<article class="team-member">
						{team_image limit="1"}
							{if {image:width} > "500px"} {!-- detects if orgininal image is the 1000px wide series image --}						
								<div class="team-member--photo team-image--animated" style="background-image: url({image:url:animated});"></div>
							{if:else}
								<div class="team-member--photo team-image--single" style="background-image: url({image:url:single});"></div>
							{/if}
						{/team_image}
						<h5 class="team-member--name">{team_first_name}<br>{team_last_name}</h5>
						<h6 class="team-member--position"><span {if team_alter_ego}title="{team_alter_ego}" class="alter-ego"{/if}>{team_position}</span></h6>
					</article>
				</li>
				{/services_team_list}
			</ul>
		</div>
	</div>
</section>
{if:else}
<hr>
{/if}

{if services_show_related_work =="Yes"}
<section class="padding-medium">
	<header class="row">
		<div class="medium-11 medium-centered large-10 columns text-center">
			<h3>Related Work</h3>
		</div>
	</header>
	<div class="row work-feed padding-small" data-equalizer>
		
		{exp:playa:parents channel="case_studies|project" order_by="date" sort="desc" status="open" limit="4"}
			<article class="medium-6 large-6 medium-centered columns one-way reveal" data-equalizer-watch data-0="@show-section:false" data-bottom-center="@show-section:true">
				<a href="/work/{url_title}">
					<div class="work-image">
						{cs_thumbnail}<img data-interchange="[{image:url:thumbnail}, (default)]" alt="{image:title}" />{/cs_thumbnail}
						{project_thumbnail}<img data-interchange="[{image:url:thumbnail}, (default)]" alt="{image:title}" />{/project_thumbnail}
						<div class="work-details-overlay">
							<div class="work-details">
								<p>{cs_short_overview}{project_short_overview}</p>
								{if cs_client_logo} {!-- small hack to target Case Studies --}
									<span class="text-link mint">View Case Study</span>
								{if:else}
									<span class="text-link mint">View Project</span>
								{/if}
								
							</div>
						</div>
					</div>
					<h5 class="work-client-name">{title}</h5>
					<h6 class="work-category">{cs_services_overview}{project_services_overview}</h6>
				</a>
			</article>
		{/exp:playa:parents}
		
	</div>
</section>
{/if}

{embed="blog/.blog-feed-scrolling" 
	section-title="Related Reading"
	include_case_studies="no" 
	filter="{exp:playa:parents channel="blog"}{entry_id}|{/exp:playa:parents}"
}


{/exp:channel:entries}
